@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sekuya&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.container-fluid {
    height: 100vh;
    background: linear-gradient(to right, #F02474, #FE7F1D);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.container-fluid h4 {
    font-size: 20px;
}

.container-fluid h2 {
    font-family: "Sekuya", static;
    font-size: 28px;
    width: 700px;
    text-align: center;
    margin-top: 0.5rem;
    line-height: 40px;
}

.container-fluid a {
    background-color: #F7B7B8;
    padding: 10px 30px;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-transform: uppercase;
}

.container-fluid a:hover .fa {
    transform: translateX(20%);
    transition: all 0.5s ease-in-out;
}

/* envelope */

.envelope-container {
    margin-top: 1rem;
}

.envelope {
    position: relative;
    width: 400px;
    height: 250px;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

/* Envelope flap */
.flap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dfdfdf;
    clip-path: polygon(0 0, 100% 0, 50% 55%);
    transform-origin: top;
    transition: transform 0.8s ease;
    z-index: 3;
}

/* .flap::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #dfdfdf;
    clip-path: polygon(0 0, 100% 0, 50% 55%);
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    z-index: -1;
} */

/* Letter inside */

.letter-parent {
    display: flex;
    flex-direction: column;
}

.letter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 0;
    background: #ffffff;
    padding: 1rem;
    box-sizing: border-box;
    transition: all 0.8s ease;
    z-index: 1;
    display: none;
    border-radius: 10px;
    overflow-y: auto;
}

.letter.open-letter {
    height: 550px;
    transition: all 0.5s ease-in-out;
}

/* .letter.close{
    height: 0;
    transition: all 0.5s ease-in-out;
} */

.letter .parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.letter .letter-body p {
    font-size: 15px;
    text-align: justify;
    line-height: 35px;
}

.letter .parent .close button {
    border: none;
    background: none;
    font-size: 25px;
}

.letter .parent .to p {
    font-size: 15px;
}

/* .letter p {
    margin: 0;
    line-height: 1.6;
    color: #333;
} */

/* Circle seal */
.seal {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('ribbon.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 4;
    transition: transform 0.3s ease;
}

.seal:hover {
    transform: translate(-50%, -50%) scale(1.1);
}


/* Open state */
.envelope.open .flap {
    transform: rotateX(180deg);
}

/* .envelope.close .envelope {
    transform: rotateX(0deg);
    z-index: -1;
} */

/* .envelope.open-letter .flap {
    transform: rotateX(180deg);
} */

.envelope.close .flap {
    transform: rotateX(0deg);
}

.overlay {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}


@media only screen and (max-width: 768px) {

    html,
    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 700px) {

    html,
    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .container-fluid h2 {
        font-size: 28px;
        width: 500px;
    }
}

@media only screen and (max-width: 500px) {

    html,
    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .container-fluid h2 {
        font-size: 28px;
        width: 450px;
    }
}

@media only screen and (max-width: 420px) {

    .container-fluid {
        height: 100dvh;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .container-fluid h2 {
        font-size: 22px;
        width: 400px;
        text-align: center;
        margin-top: 0.5rem;
    }

    .letter {
        width: 350px;
    }

    .envelope {
        width: 350px;
        height: 220px;
    }
}

@media only screen and (max-width: 400px) {

    .container-fluid {
        height: 100dvh;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .container-fluid h2 {
        font-size: 25px;
        width: 320px;
        text-align: center;
        margin-top: 0.5rem;
    }
}